@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    opacity: 0;
  }
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 20px;
  border-radius: 10px;
  /* background: #fff;
  box-shadow: -405px 0 0 400px #605e5c;
  border-radius: 50%;
  border: 1.5px solid; */
}

input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  cursor: pointer;
  background: #fff;
  box-shadow: -409px 0 0 400px #0369a1;
  border-radius: 50%;
  border: 2.5px solid #0369a1;
}
