@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    opacity: 0;
  }
}

input[type="range"]::-webkit-slider-thumb {
  width: 12px;
  -webkit-appearance: none;
  appearance: none;
  height: 12px;
  cursor: pointer;
  background: #fff;
  box-shadow: -405px 0 0 400px #605e5c;
  border-radius: 50%;
  border: 1.5px solid;
}
